<ion-header>
    <ion-toolbar>
        <ion-title>Page d'accueil</ion-title>
    </ion-toolbar>
</ion-header>

<!-- <ion-content (click)="test()">
    <ion-list (click)="test()">
        <ion-item (click)="test()">
            <ion-button routerLink="/pilots-list">
                Liste des pilotes
            </ion-button>
        </ion-item>
        <ion-item routerLink="/pilots-list">
            Conseil d'administration
        </ion-item>
    </ion-list>
    <ion-router-outlet></ion-router-outlet>
</ion-content> -->

<ion-content>
    <ion-list>
        <ion-item [routerLink]="['/pilots-list']">Liste des pilotes</ion-item>
        <ion-item [routerLink]="['/role-list']">Conseil d'administration</ion-item>
        <ion-item [routerLink]="['/paragliders-list']">Liste des parapentes</ion-item>
        <ion-item [routerLink]="['/sites-list']">Liste des sites</ion-item>
    </ion-list>
</ion-content>