<ion-header>
    <ion-toolbar>
        <ion-title>Détails des vols</ion-title>
        <ion-back-button slot="start" (click)="back()">Retour</ion-back-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngFor="let flight of flights">
        <ion-item class="detail" *ngIf="flight?.pilotId.toString() == id">
            <ion-label class="detailName">
                <div>{{flight?.flightDate | date}}</div>
                <div>{{flight?.duration}}h</div>
                <ng-container *ngFor="let paraglider of paragliders">
                    <div *ngIf="flight?.paragliderId == paraglider.id">{{paraglider.name}}</div>
                </ng-container>
            </ion-label>
        </ion-item>
    </ng-container>
</ion-content>