<ion-header>
    <ion-toolbar>
        <ion-title>Editer les informations de {{paraglider?.name}}</ion-title>
        <ion-back-button slot="start" (click)="back()">Retour</ion-back-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form" (ngSubmit)="edit()">
        <ion-input formControlName="id" type="hidden"></ion-input>
        <ion-item>
            <ion-label position="floating">Nom du parapente</ion-label>
            <ion-input formControlName="name" type="text" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Date de commission</ion-label>
            <ion-input formControlName="commissioningDate" type="text" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Dernière révision</ion-label>
            <ion-input formControlName="lastRevision" type="text" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Taille du modèle</ion-label>
            <ion-select formControlName="paragliderModelId" required>
                <ion-select-option *ngFor="let paragliderModel of paragliderModels" value="{{paragliderModel.id}}">{{paragliderModel.size}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-row>
            <ion-col>
                <ion-button type="submit" color="primary" shape="full" expand="block">Editer</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>