<ion-header>
    <ion-toolbar>
        <ion-title>Ajouter un pilote</ion-title>
        <ion-back-button slot="start" (click)="back()">Retour</ion-back-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form" (ngSubmit)="add()">
        <ion-item>
            <ion-label position="floating">Prénom</ion-label>
            <ion-input formControlName="firstName" type="text" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Nom</ion-label>
            <ion-input formControlName="lastName" type="text" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Adresse</ion-label>
            <ion-input formControlName="address" type="text" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Téléphone</ion-label>
            <ion-input formControlName="phone" type="text" required></ion-input>
        </ion-item>
        <ion-row>
            <ion-col>
                <ion-button type="submit" color="primary" shape="full" expand="block">Ajouter</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>