<ion-header>
    <ion-toolbar>
        <ion-title>Détails sur le {{role?.name}}</ion-title>
        <ion-back-button slot="start" (click)="back()">Retour</ion-back-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>{{role?.name}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>

            <ion-item class="detailName">
                {{pilot?.firstName}} {{pilot?.lastName}}
            </ion-item>

        </ion-card-content>
    </ion-card>
</ion-content>