<ion-header>
    <ion-toolbar>
        <ion-title>{{site?.name}}</ion-title>
        <ion-back-button slot="start" (click)="back()">Retour</ion-back-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title>{{site?.name}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-item class="detailName">
                {{site?.orientation}}
            </ion-item>
            <ion-item class="detailName">
                {{site?.siteGeoCoordinate}}
            </ion-item>
            <ion-item class="detailName" *ngIf="site?.siteType == 1">
                {{site?.altitudeTakeOff}}
            </ion-item>
            <ion-item class="detailName" *ngIf="site?.siteType == 2">
                {{site?.approachManeuver}}
            </ion-item>
            <ion-button expand="block labelTitle" routerLink="/flights-list/{{site?.id}}">Vols ()</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>