<ion-header>
    <ion-toolbar>
        <ion-title>Détails de {{paraglider?.name}}</ion-title>
        <ion-back-button slot="start" (click)="back()">Retour</ion-back-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>{{paraglider?.name}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-list>
                <ion-item class="detailName">
                    Date de commission: {{paraglider?.commissioningDate | date}}
                </ion-item>
                <ion-item class="detailName">
                    Date de dernière révision: {{paraglider?.lastRevision | date}}
                </ion-item>
                <ion-item class="detailName">
                    Taille du modèle: {{paragliderModel?.size}}
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>