<ion-header>
    <ion-toolbar>
        <ion-title>Editer un role</ion-title>
        <ion-back-button slot="start" (click)="back()">Retour</ion-back-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form" (ngSubmit)="edit()">
        <ion-input formControlName="id" type="hidden"></ion-input>
        <ion-item>
            <ion-label position="floating">Nom du role</ion-label>
            <ion-input formControlName="name" type="text" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Pilote</ion-label>
            <ion-select formControlName="pilotId" required>
                <ion-select-option *ngFor="let pilot of pilots" value="{{pilot.id}}">{{pilot.firstName}} {{pilot.lastName}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-row>
            <ion-col>
                <ion-button type="submit" color="primary" shape="full" expand="block">Editer</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>