<ion-header>
    <ion-toolbar>
        <ion-title>Conseil d'administration</ion-title>
        <ion-back-button slot="start" (click)="back()">Retour</ion-back-button>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card *ngFor="let role of roles">
        <ion-card-header>
            <ion-card-title routerLink="/role-details/{{role.id}}">{{role.name}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-button routerLink="/role-edit/{{role.id}}">
                <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="deleteRole(role.id)">
                <ion-icon name="trash"></ion-icon>
            </ion-button><br>
        </ion-card-content>
    </ion-card>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/role-add">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>