<ion-header>
    <ion-toolbar>
        <ion-title>Ajouter un parapente</ion-title>
        <ion-back-button slot="start" (click)="back()">Retour</ion-back-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form" (ngSubmit)="add()">
        <ion-item>
            <ion-label position="floating">Nom du parapente</ion-label>
            <ion-input formControlName="name" type="text" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Date de commission</ion-label>
            <ion-input formControlName="commissioningDate" type="date" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Dernière révision</ion-label>
            <ion-input formControlName="lastRevision" type="date" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Taille du modèle</ion-label>
            <ion-select formControlName="paragliderModelId" placeholder="Sélectionnez une taille" required>
                <ion-select-option *ngFor="let paragliderModel of paragliderModels" value="{{paragliderModel.id}}">{{paragliderModel.size}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-row>
            <ion-col>
                <ion-button type="submit" color="primary" shape="full" expand="block">Ajouter</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>