<ion-header>
    <ion-toolbar>
        <ion-title>Liste des parapentes</ion-title>
        <ion-back-button slot="start" (click)="back()">Retour</ion-back-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let paraglider of paragliders">
        <ion-card-header>
            <ion-card-title routerLink="/paraglider-detail/{{paraglider.id}}">{{paraglider.name}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-button routerLink="/paraglider-edit/{{paraglider.id}}">
                <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="deleteParaglider(paraglider.id)">
                <ion-icon name="trash"></ion-icon>
            </ion-button><br>
        </ion-card-content>

    </ion-card>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/paraglider-add">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>