<ion-header>
    <ion-toolbar>
        <ion-title>Liste des sites</ion-title>
        <ion-back-button slot="start" (click)="back()">Retour</ion-back-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button expand="block labelTitle" routerLink="/detailsites-list/{{1}}">Site de décollage ({{numberOfTakeOffSites}})</ion-button>
    <ion-button expand="block labelTitle" routerLink="/detailsites-list/{{2}}">Site d'atterrissage ({{numberOfLandingSites}})</ion-button>
</ion-content>