<ion-header>
    <ion-toolbar>
        <ion-title>Sites {{title}}</ion-title>
        <ion-back-button slot="start" (click)="back()">Retour</ion-back-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let site of sites">
        <ion-card-header>
            <ion-card-title routerLink="/site-detail/{{site.id}}">{{site.name}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-button routerLink="/site-edit/{{site.id}}">
                <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button>
                <ion-icon name="trash"></ion-icon>
            </ion-button><br>
        </ion-card-content>
    </ion-card>



    <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/pilot-add">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>