<ion-header>
    <ion-toolbar>
        <ion-title>{{pilot?.firstName}} {{pilot?.lastName}}</ion-title>
        <ion-back-button slot="start" (click)="back()">Retour</ion-back-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title>{{pilot?.firstName}} {{pilot?.lastName}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-item class="detailName">
                {{pilot?.address}}
            </ion-item>
            <ion-item class="detailName">
                {{pilot?.phone}}
            </ion-item>
            <ion-button expand="block labelTitle" routerLink="/flights-list/{{pilot?.id}}">Vols effectués ({{numberOfFlights}})</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>