<ion-header>
    <ion-toolbar>
        <ion-title>Liste des pilotes</ion-title>
        <ion-back-button slot="start" (click)="back()">Retour</ion-back-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let pilot of pilots">
        <ion-card-header>
            <ion-card-title routerLink="/pilot-details/{{pilot.id}}">{{pilot.firstName}} {{pilot.lastName}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-button routerLink="/pilot-edit/{{pilot.id}}">
                <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="deletePilot(pilot.id)">
                <ion-icon name="trash"></ion-icon>
            </ion-button><br>
        </ion-card-content>
    </ion-card>



    <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/pilot-add">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>